@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(
      #0066FF 10%,
      #9BC3FF
    );
}
.logo {
    font-weight: 700;
    font-size: 32px;
}

nav{
    display: flex;
    justify-content: space-around;
    color:white;
    padding: 24px;
    align-items: center;
}
.nav-itens {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-itens>li>a {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    transition: background-color;
    cursor: pointer;
}

.nav-itens>li>a:hover{
    color: #9BC3FF;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 20% 5% 20%;
    color: white;
  }

.sobre {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid #06F;
    background: rgba(83, 152, 255, 0.50);
    padding: 40px 56px;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .titulo {
    font-weight: 700;
  }
  
  .texto {
    margin: 32px 32px 32px 32px;
    font-size: 16px;
  }

  .footer{
    background-color: #4083E7;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 5% 15%;
    color: white;
  }

  .sobre2 {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid #06F;
    background: rgba(64, 131, 231, 0.25);
    padding: 40px 56px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
  }

  ::selection {
    color: #0366d6;
    background-color: white;
  }
  